# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database
*.sqlite
*.sqlite3
*.db

# Uploads and temporary files
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.swp
